.icon-dev {
  background-image: url(../images/icons/dev.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.alert-error {
  background-color: #dc3545 !important;
  color: #fff !important;
  border: 0;
  font-weight: 500 !important;
}
.text-justify {
  text-align: justify !important;
}
.btn-main {
  background-color: #ffba20 !important;
  border: 1px solid transparent !important;
}
.discount-color {
    background-color: #f44336 !important;
}
.btn-price {
    background-color: #e9eef7  !important;
    color: #7f1ef3 !important;
}
.old-price {
  color: #a3aec1 !important;
}
.fw-avatar-bold {
  font-weight: 500 !important;
}
.fw-bonus-bold {
  font-weight: 800 !important;
}
.stocks-b2 {
  width: 190px;
  height: 100% !important;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }